<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Some Website</title>
  </head>
  <body>
      {{> header}}
      <p>project page text would go here. and i want to test something else.</p>

      {{> footer}}
  </body>
</html>
